// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container {
  padding-right: 100px !important;
  padding-left: 100px !important;
}

.navbar-brand {
  font-family: 'Playball', cursive !important;
  font-size: 22px;
}

.form-control-sm {
  border: 1px solid #ced4da;
}